.footer {
    background: var(--background-block-color);
    padding: 60px 0;

    &__container {
        @extend .container;
        display: flex;
        align-items: baseline;
        justify-content: space-between;
    }
}
/* ------------ Загальні параметри футера ------------ */
.social-links-header {
    font-size: inherit;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--third-main-color);
}
/* ---- Контейнер якому задав загальний параметр для футера ---- */
.address {
    margin-right: 70px;
}
/* ------------ Загальні параметри списків футера ------------ */ 
.footer-contacts {
    margin-top: 20px;

    &__item {
        /* <li> */
        line-height: 1.72;
        margin-bottom: 10px;

        &:last-child {
            margin-bottom: 0;
        }
    }
    &__content {
        text-decoration: none;
        font-style: normal;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: var(--third-main-color);
        transition: color var(--cubic-animation);

        .contact {
                color: rgba(255, 255, 255, 0.6);
                transition: color var(--cubic-animation);
            }
        &:hover,
        &:focus {
            color: var(--hover-link-color);
        }
    } 
}
// ################################ Links ################################ 
.social-links {
    @extend .footer-contacts;
    display: flex;
    justify-content: center;
    gap: 10px;
    &__container {
        width: 44px;
        height: 44px;
    }
    &__link {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        display: inline-block;
        background-color: rgba(255, 255, 255, 0.1);
        display: flex;
        align-items: center;
        /* центрування по вертикалі */
        justify-content: center;
        /* центрування по горизонталі */
        color: var(--third-main-color);
        transition: background-color var(--cubic-animation);

        &:hover,
        &:focus {
            background-color: var(--hover-link-color);
        }
    }
    &__icon {
        fill: currentColor;
    }
}
/* ------------------- Стилі форми підписки на розсилку ------------------- */
.subscription {
  flex-grow: 1;
  margin-left: 90px;
}
/* Form-block with input and button */
.subscription-form {
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 12px;
    &__input {
        /* input field */
        outline: none;
        border: 2px solid rgba(255, 255, 255, 0.3);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        border-radius: 4px;
        background: transparent;
        padding: 0 12px 0 16px;
        flex-grow: 1;
        height: 50px;

        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.25;
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.6);
        &:hover {
            border: 2px solid var(--hover-link-color);
        }
    }
    &__button {
        /* button box */
        @extend .button;
        padding: 10px 28px;
        background-color: var(--background-button-color);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border: 1px solid transparent;
        border-radius: 4px;
        transition: background-color var(--cubic-animation);
        &:hover {
                background-color: #188ce8;
            }
    }
    &__label {
        /* content on button */
        color: var(--third-main-color);
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.88;
        letter-spacing: 0.06em;
        color: var(--third-main-color);
        .subscription-form__image {
                fill: var(--third-main-color);
            }
    }
}