.header {
    padding: 25px 0;
    border-bottom: 1px solid #ececec;
    position: sticky;
    z-index: 1;
    top: 0;
    background-color: #fff;
    
    &__container {
        @extend .container;
        display: flex;
        justify-content: space-between;
    }
}
.navigation__container {
    display: flex;
}
/* -------------------- Стилі списків заголовку ---------- */
.navigation {
    display: flex;
    align-items: center;
    gap: 50px;
    margin-left: 90px;

    &__item {
        position: relative;
    }
    &__link {
        display: flex;
        text-decoration: none;
        font-weight: 500;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: var(--second-main-color);
        transition: color var(--cubic-animation);

        &:hover,
        &:focus {
            color: var(--hover-link-color, red);
        }
    }
}
.current.navigation__link {
    color: var(--hover-link-color);
    &::after {
        position: absolute;
        bottom: -33.5px;
        content: "";
        background-color: var(--hover-link-color);
        width: 100%;
        height: 4px;
        border-radius: 2px;
        transform: scaleX(1.1);
    }
}
/* ######################################################## */
.contacts {
    display: flex;
    align-items: center;
    gap: 50px;

    &__link {
        display: flex;
        align-items: center;
        gap: 10px;
        text-decoration: none;
        font-weight: 500;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: var(--first-main-color);
        transition: fill var(--cubic-animation),
            color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        &:hover,
        &:focus {
            color: var(--hover-link-color, red);
            fill: var(--hover-link-color, red);
        }
    }
    &__ico {
        fill: currentColor;
    }
}