/* -------------------- Перелік стеку компанії ---------- */
.occupations {
    display: flex;
    gap: 30px;
    &__section {
        /* <li> */
        max-width: 370px;
        flex-basis: calc((100% - 60px) / 3);
    }
}
.description {
    position: relative;
    &__image {
        width: 100%;
        // max-width: 370px;
    }
    &__text {
        position: absolute;
        bottom: 0;
        height: 70px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    
        background: rgba(47, 48, 58, 0.8);
        font-style: normal;
        font-weight: 700;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #ffffff;
    }
}