/* -------------------- Перелік переваг компанії ---------- */

.preference {
    padding: 60px 0;
    // border: 1px solid red;
    @media screen and (min-width: 1440px) {
        padding: 94px 0;
    }
}

.preference-list {
    display: flex;
    flex-direction: column;
    gap: 30px;

    @media screen and (min-width: 768px) {
        flex-direction: row;
        flex-wrap: wrap;
    }

    &__card {
        text-align: center;

        @media screen and (min-width: 768px) {
            text-align: left;
            flex-basis: calc((100% - 30px) / 2);
        }
        @media screen and (min-width: 1200px) {
            width: 270px;
            flex-basis: calc((100% - 90px) / 4);
        }
    }
    &__image {
        // height: 120px;
        padding: 25px 0;
        background: #f5f4fa;
        // border: 1px solid grey;
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 30px;
    }
    &__icon {
        width: 70px;
        height: 70px;
    }
    &__tittle {
        font-size: inherit;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        margin-bottom: 10px;
        color: var(--second-main-color);
    }
    &__content {
        font-size: inherit;
        line-height: 1.72;
        letter-spacing: 0.03em;
        color: var(--first-main-color);
    }
}