.modal-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    padding: 50px 40px;
    background-color: var(--third-main-color);
    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
    @media screen and (min-width: 1024px) {
            display: none;
        }
    &.is-open {
        transform: translateX(0);
    }
}
    
.nav-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
    @media screen and (min-width: 1024px) { display: none;}
}
.close-button {
    @extend .nav-button;
    position: absolute;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
    &:hover, 
    &:focus  {
        outline: none;
        fill: var(--hover-link-color, red);
    }
}

// .is-open {
//     transform: translateX(0);
// }
// =======================================================
.nav-list {
    display: flex;
    flex-direction: column;
    gap: 32px;
    flex-grow: 2;

    &__item {
        position: relative;
    }

    &__link {
        // display: flex;
        text-decoration: none;
        font-weight: 500;
        font-size: 40px;
        line-height: 1.17;
        letter-spacing: 0.02em;
        color: var(--second-main-color);
        transition: color var(--cubic-animation);

        &:hover,
        &:focus {
            outline: none;
            color: var(--hover-link-color, red);
        }
    }
    .current {
        color: var(--hover-link-color);
    }
}
// =======================================================
.modal-contacts {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: absolute;
    bottom: 120px;

    &__link {
        text-decoration: none;
        font-weight: 500;
        font-size: 24px;
        line-height: 1.16;
        letter-spacing: 0.02em;
    
        color: #757575;
    }
}

.modal-social {
    display: flex;
    // left: 50%;
    // transform: translateX(-50%);

    position: absolute;
    bottom: 50px;
    &__container {
        padding: 0 10px;
        border-right: 1px solid rgba(33, 33, 33, 0.2);
        // transform: rotate(90deg);
    }
    :first-child {
        padding-left: 0;
    }
    :last-child {
        border-right: none;
    }
    &__link {
        
        font-weight: 500;
        font-size: 18px;
        line-height: 1.22;
        letter-spacing: 0.02em;
        color: var(--hover-link-color); 
    }
}